img {
    width: 75%;
  }

.container {
    align-items:center;
}

.row {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

body {
    /*background-image: url(Pics/back-ground.jpg)*/
    background-color: #A58E74;
}

#container-footer{
    margin: auto;
    
}
.text-bg-light{
    background-color: #f4f4f4;
}

#contact-box-footer{
    float: left;
}
#logo{
    width: 75%;
}

.navbar{
    font-size: larger;
    bottom: auto;
}

header{
    background-color: #ffefcd;
}
.btn-primary{
    background-color: #e09132 !important;
    border: #e09132 !important;
}

@media screen and (max-width: 576px) {
    .spanToRemoveSmall{display: none !important;}
  }

@media screen and (min-width: 577px) {
    .spanToRemoveBig{display: none !important;}
  }

@media screen and (max-width: 850px) {
    img{height: 100%; width: 100%;}
}