header{
    background-color: #ffefcd;
}
/*change image classes*/
img {
    width: 100%;
}

body {
    background-color: #A58E74;
}

.container {
    align-items:center;
}

.row {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.text-bg-light{
    background-color: #f4f4f4;
}

.navbar{
    font-size: larger;
    bottom: auto;
    justify-content: space-around;
}

.btn-primary{
    background-color: #e09132 !important;
    border: #e09132 !important;
}

.suggestion, .recipes{
    text-align: center;
}

#container-footer{
    margin: auto;
}

#contact-box-footer{
    float: left;
}

#logo{
    width: 75%;
}

@media screen and (max-width: 576px) {
    .spanToRemoveSmall{display: none !important;}
  }

@media screen and (min-width: 577px) {
    .spanToRemoveBig{display: none !important;}
  }

@media screen and (max-width: 850px) {
    .image{height: 100%; width: 100%;}
}

/* lior changes healfy food */
.breadcramps{
    margin-right: 15%;
    margin-left: 15%;
    font-style:italic;
}

.imagebanner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-aria{
    background-color: #F8F9FA;
    margin-left: 5%;
}
.img-product{
    border-radius: 10px;
}
.welcometext{
    width: 50%;
    justify-items: center;
    align-items: center;
    padding-top: 10%;
    text-align: center;
}
.healthfy-food-stamp{
    width: 10%;
}

.product-card{
    border: solid #e09132 1px;
    border-radius: 10px;
    
}

.product-info {
      margin-top: 20px;
      margin-bottom: 10px;
      padding-bottom: 10px;
      text-align: center;
}
.product-info-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-outline-info{
    margin: 5px ;
    border-color: #e09132;
    background-color: #e09132;
}
.btn{
    border-color: #2D2824 !important;
    background-color: #2D2824 !important;
}

.product-image img {
    max-width: 400px;
    height: auto;
  }

/*Big smartphones [426px -> 600px]*/
  @media only screen and (max-width: 576px){
	.row{flex-direction: column-reverse !important;}
    .product-row{display: flex;width: 45%;}
    .product-card{margin-top: 10px;}
    .banner{display: none !important;}
    .product-info{padding-left: 30px;padding-right: 30px;}
    .breadcramps{display: none;}
  }