header{
    background-color: #ffefcd;
}

img {
    width: 75%;
}

body {
    background-color: #A58E74;
}

.container {
    align-items:center;
}

.row {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.text-bg-light{
    background-color: #f4f4f4;
}

.navbar{
    font-size: larger;
    bottom: auto;
    justify-content: space-around;
}

.btn-primary{
    background-color: #e09132 !important;
    border: #e09132 !important;
}

.suggestion{
    text-align: center;
}

#container-footer{
    margin: auto;
}

#contact-box-footer{
    float: left;
}

#logo{
    width: 75%;
}

@media screen and (max-width: 576px) {
    .spanToRemoveSmall{display: none !important;}
  }

@media screen and (min-width: 577px) {
    .spanToRemoveBig{display: none !important;}
  }

@media screen and (max-width: 850px) {
    .image{height: 100%; width: 100%;}
}

/* lior changes healfy food */

.products {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    background-color: rgb(233, 233, 233);
    
}
  
.product-card {
    padding:0.5%;
    flex-grow: 2;
    flex-basis: 5%;
    display: flex; 
}

.product-info {
      margin-top: 20px;
}

.product-image img {
    /* max-width: 100%; */
    width: 200px;
    height: 150px;
  }

.heading{
    margin-left: 15%;
    margin-bottom: 20px;
}

.end-page{
    margin-bottom: 150px;
    padding-top:20px ;
    text-align: center;
}