header{
    background-color: #ffefcd;
}

img {
    width: 75%;
}

body {
    background-color: #A58E74;
}

.container {
    align-items:center;
}

.row {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.text-bg-light{
    background-color: #f4f4f4;
}

.navbar{
    font-size: larger;
    bottom: auto;
    justify-content: space-around;
}

.btn-primary{
    background-color: #e09132 !important;
    border: #e09132 !important;
}

#container-footer{
    margin: auto;
}

#contact-box-footer{
    float: left;
}

#logo{
    width: 75%;
}

@media screen and (max-width: 576px) {
    .spanToRemoveSmall{display: none !important;}
  }

@media screen and (min-width: 577px) {
    .spanToRemoveBig{display: none !important;}
  }

@media screen and (max-width: 850px) {
    .image{height: 100%; width: 100%;}
}